---
import Layout from '../layouts/MainLayout.astro';
import * as Landing from '../content/pages/homepage.md'
import Tarif from '../components/Tarif.astro';
import PhotoCard from '../components/PhotoCard.astro';
const tarifs = await Astro.glob("../content/rates/*.md")
const categories = await Astro.glob("../content/gallery/*.md")

---




<Layout title="Charle Cantin">
	<main class="flex-col ">
		<header class=" h-screen landing flex justify-center items-center" style={`background-image: url(${Landing.frontmatter.background_image};`}>
		
			<h1 class="text-6xl pb-[100px]"><span class="font-bold text-[70px] color-[#5E5047]">C</span>harle <span class="font-bold text-[70px]">C</span>antin - Photographe</h1>
		
	   </header>

	   <section class="gallerie p-4 md:p-8 lg:p-12" id="galerie">
		<h1 class="text-6xl text-center mb-8">Galerie</h1>
		
		<div class="mb-8 flex justify-center">
			<select name="categories" id="categories" class=" w-[150px] bg-white border rounded-md p-2 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 shadow-sm">
				<option>All</option>
				{
					categories.map(categorie => (
						<option>{categorie.frontmatter.category}</option>
					))
				}
			</select>
		</div>
	
		<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 px-4 md:px-8 lg:px-0" id="galery">
			{
				categories.length > 0 ? categories.map(categorie => (
					<PhotoCard image={categorie.frontmatter.image} category={categorie.frontmatter.category} />
				))
				:
				<div class="col-span-full flex justify-center items-center h-60 bg-gray-200 rounded-md">
					<h1 class="text-xl font-bold">Aucune photo</h1>
				</div>
			}
		</div>
	</section>
	

	
	
	 
	   </div>

	   <section class="tarif-section py-16  " id="tarif">
		<div class="container mx-auto h-screen">
			<h2 class="text-center text-6xl text-white  mb-8"> Tarifs et Prestations</h2>
			<div class="grid md:grid-cols-3 gap-12">
				{tarifs.map(tarif => (
				
					<Tarif title={tarif.frontmatter.title} description={tarif.frontmatter.description} price={tarif.frontmatter.price}/>
				))}
			</div>
		</div>
	</section>
	
		
	</main>
	
	<script>
		const select = document.getElementById('categories')
		const galerie = document.getElementById('galery')

		select.addEventListener('change', function(){
			const selectedCategory = this.value
			console.log(selectedCategory)
			const photofiltered = galerie.querySelectorAll(".photocard")
			photofiltered.forEach(photo =>{
				
				if (selectedCategory === 'All') {
				photo.style.display = '';
			} else {
				// Sinon, on affiche seulement les photos qui correspondent à la catégorie sélectionnée
				if (photo.dataset.category !== selectedCategory) {
					photo.style.display = 'none';
				} else {
					photo.style.display = '';
				}}
			})
		})



	</script>
</Layout>


